<!-- Edit-test-suite -->

<div class="edit-test-suite-form">

  <div class="edit-test-suite-box">
    <md-input-container class="edit-test-suite-full-width">
      <input mdInput placeholder="Name">
    </md-input-container>
    
    <div class="edit-test-suite-full-width">
       <md-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled">
     Only run manual test when related automated test fails
    </md-slide-toggle>
    </div>
    <div class="edit-test-suite-chk-level1">
     <md-checkbox class="example-margin" [(ngModel)]="checked">All Tests
  </md-checkbox>
</div>
    
   <div class="edit-test-suite-chk-level2">
       <md-checkbox class="example-margin" [(ngModel)]="checked">All Automated tests
     </md-checkbox>
     </div>
  <div class="edit-test-suite-chk-level3">
    
    <table class="edit-test-suite-full-width" cellspacing="0">
      <tr>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Wifi</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

      <tr>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

      <tr>

        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

      <tr>

        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

    </table>
    
  </div>
  
  
  
   <div class="edit-test-suite-chk-level2">
       <md-checkbox class="example-margin" [(ngModel)]="checked">All Automated tests
     </md-checkbox>
     </div>
  <div class="edit-test-suite-chk-level3">
    
    <table class="edit-test-suite-full-width" cellspacing="0">
      <tr>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Wifi</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

      <tr>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

      <tr>

        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

      <tr>

        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
        <td>
          <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        </td>
      </tr>

    </table>
    
  </div>
    

  </div>

<div class="edit-test-suite-but-container">
    <md-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled">
     Suite enabled
    </md-slide-toggle>
    <span class="edit-test-suite-flex-spacer"></span>
    <button md-button>CANCEL</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button md-button>SHUTDOWN</button>
  </div>

</div>

<!-- Edit-test-suite -->