<div cdk-scrollable="" class="mat-sidenav-content">
 


<md-input-container class="type-material-floating-label">
  <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container>


<table class="example-full-width type-material-floating-label" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Passphrase" type="password">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Passphrase" type="password">
    </md-input-container></td>
  </tr></table>
  
  
 <div class="but-container">
 <button md-raised-button class="button-spacer" color="primary">Edit</button>
 </div>


</div>

