

<nav>
<dashboard-data></dashboard-data>
</nav>


<div cdk-scrollable="" class="mat-sidenav-content">
 
<md-toolbar>

<span class="padd-left20">{{editusername}}</span>

</md-toolbar>

 <div class="main-content-box">

<md-input-container class="type-material-floating-label">
  <input mdInput placeholder="Name" value="" [(ngModel)]="editusername" >
</md-input-container>


<table class="example-full-width type-material-floating-label" cellspacing="0"><tr>
    <td><md-input-container class="example-full-width">
     <input mdInput placeholder="Passphrase" type="password" value="" required [(ngModel)]="password" #password_value="ngModel">
    </md-input-container></td>
    <td><md-input-container class="example-full-width">
     <input mdInput placeholder="Confirm Passphrase" type="password" value="" required [(ngModel)]="confirmpassword" #password_value="ngModel" >
    </md-input-container></td>
  </tr></table>
  
  
 <div class="but-container">
 <button md-raised-button class="button-spacer" color="primary"(click)="getEditprofileDetails()"[disabled]="password_value.invalid">Edit</button>
 </div>
</div>

</div>

