/* Edit-Device-Image */


.edit-device-image-form {
  width:100%;
/*   padding:20px 20px; */
  font-family: Roboto Regular, sans-serif;
}
.edit-device-image-box
{
max-height:300px;
overflow-y: scroll;
}
.edit-device-image-full-width {
  width: 100%;
}

.edit-device-image-chk-level1
{
padding:12px 0px 0px 0px;
}
.edit-device-image-chk-level2
{
padding:12px 0px 12px 24px;
}

.edit-device-image-chk-level3
{
padding-left:48px;
}
.edit-device-image-but-container
{
display:flex;
margin:10px 0px;
padding:25px 0px;
border-top:1px solid #ddd;
}
.edit-device-image-flex-spacer
{
flex:1 1 auto;
}

.margin10 {
  margin: 10px;
}

/* Edit-Device-Image */