<!-- Edit-Device-Image -->


<form class="edit-device-image-form">
  
  <md-input-container class="edit-device-image-full-width">
   <input mdInput placeholder="Device Name">iPhone 6
  </md-input-container>
 
    <table class="edit-device-image-full-width" cellspacing="0"><tr>
    <td><md-input-container class="edit-device-image-full-width">
      <input mdInput placeholder="Os Type">iOS
    </md-input-container></td>
    <td><md-input-container class="edit-device-image-full-width">
      <input mdInput placeholder="OS Version">10.3.1
    </md-input-container></td>
  </tr></table>
  
  
   <div class="edit-device-image-full-width">
 <span class="edit-device-image-chk-level1">Filters</span> 
</div>
  
  <div class="edit-device-image-but-container">
 <span class="edit-device-image-chk-level2">IDI DeviceType:  <span class="edit-device-small-text">iPhone6,1</span> </span>
  <span class="edit-device-image-flex-spacer"></span> 
  <md-icon class="padd-top5px">remove_circle</md-icon>
</div>
  
    <div class="edit-device-image-but-container">
 <span class="edit-device-image-chk-level2">IDI DeviceType: <span class="edit-device-small-text">iPhone6,1</span> </span>
  <span class="edit-device-image-flex-spacer"></span> 
  <md-icon class="padd-top5px">remove_circle</md-icon>
</div>

  <div class="edit-device-image-but-container">
<span class="edit-device-image-flex-spacer"></span> 
<button md-button>ADD FILTER</button>
</div>

<div class="edit-device-image-but-container2">
    <md-slide-toggle class="padd-top5px" [color]="color" [checked]="checked" [disabled]="disabled">
    Image enabled
    </md-slide-toggle>
    <span class="edit-device-image-flex-spacer"></span>
    <button md-button>CANCEL</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button md-button>SHUTDOWN</button>
  </div>

</form>


<!-- Edit-Device-Image -->
