<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to !!
  </h1>
  <md-input-container>
    <input mdInput placeholder="Favorite food" value="Sushi">
  </md-input-container>

</div>


<div class="app-content">
  <a href="https://github.com/selem1/loginFormAngular2" target="blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
  </a>
  <div class="group">

    <form role="form" (submit)="login()"><br>
      <md-input-container>
        <input mdInput type="text" required [(ngModel)]="user.username" id="username" name="username" >
        <md-placeholder>
          <i class="material-icons app-input-icon">face</i>Username
        </md-placeholder>
      </md-input-container><br><br>
      <md-input-container>
        <input mdInput type="password" required [(ngModel)]="user.password" id="password" name="password" >
        <md-placeholder >
          <i class="material-icons app-input-icon">lock_open</i>Password
        </md-placeholder>
      </md-input-container><br><br>
      <button md-raised-button color="warn" type="submit" name="action">LOGIN</button><br><br>
      <span id="err"><small>{{errorMsg}}</small></span>
      <md-slide-toggle color="primary"><small>Remember me!</small></md-slide-toggle>
    </form >
  </div>
</div>


<h2>Here are some links to help you start: </h2>
<div class="example-container">
  <h3>Normal Buttons</h3>
  <div class="button-row">
    <button md-button>Flat button</button>
    <button md-raised-button>Raised button</button>
    <button md-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>check</md-icon></button>
  </div>

  <h3>Link Buttons</h3>
  <div class="example-button-row">
    <a md-button routerLink=".">Flat button</a>
    <a md-raised-button routerLink=".">Raised button</a>
    <a md-fab routerLink="."><md-icon>check</md-icon></a>
    <a md-mini-fab routerLink="."><md-icon>check</md-icon></a>
  </div>
</div>
<md-button-toggle-group #group="mdButtonToggleGroup">
  <md-button-toggle value="left">
    <md-icon>format_align_left</md-icon>
  </md-button-toggle>
  <md-button-toggle value="center">
    <md-icon>format_align_center</md-icon>
  </md-button-toggle>
  <md-button-toggle value="right">
    <md-icon>format_align_right</md-icon>
  </md-button-toggle>
  <md-button-toggle value="justify" disabled>
    <md-icon>format_align_justify</md-icon>
  </md-button-toggle>
</md-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>

