<!--view-source-licenses-list-->

<div class="view-source-licenses-list">
<h4>Licence</h4>
<p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed ex rhoncus, laoreet lorem et, tempor nisl. Nunc blandit gravida nulla sagittis lobortis. Etiam posuere diam a metus fermentum, eget convallis massa vestibulum. Sed porttitor bibendum tellus, vel iaculis augue volutpat non. In sollicitudin rhoncus est, nec vulputate turpis bibendum et. Donec justo quam, mollis in sagittis in, sagittis ut quam. Aliquam erat volutpat. Donec blandit nibh sit amet pretium porttitor. Aliquam at tempor eros, vitae convallis sem. Aliquam dolor lacus, finibus volutpat iaculis quis, dictum quis est. Ut maximus, urna id mollis ornare, est est hendrerit libero, ut dictum dui mauris et diam. Aliquam id varius dui. Sed euismod imperdiet elit eget varius. Suspendisse potenti. Curabitur dui arcu, semper nec imperdiet mattis, elementum sed felis.
urus lorem a quam. Etiam eros dui, consectetu </p>
 <md-dialog-actions align="end">
  <button md-button md-dialog-close>OK</button>
 </md-dialog-actions>
</div>

<!--open-source-licenses-list-->