
<div class="session-wrapper-outer">
	<div class="session-wrapper">
	<img _ngcontent-c16="" alt="" src="./app/assets/log1.png">

	<div class="center">
	<md-card>


	<md-input-container >
	<input mdInput placeholder="UserName" value="" required [(ngModel)]="userName" #name="ngModel">

	</md-input-container><br><br>

	<md-input-container>
	<input mdInput placeholder="Password" value="" required [(ngModel)]="password" #name="ngModel" >
	</md-input-container><br><br>
	<div class="login-btn">
	<button class="Login-button" md-button >Login</button>
	</div>

	</md-card>
	</div>

	</div>
</div>